{% extends 'layouts.html' %} {%block content%}
<br>
<br>
<center>
<div class="container">
  <form method="post" action="/booking">
    <div class="row">
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Source" name="source" />
      </div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Destination" name="destination" />
      </div>
      <div class="col-3 date">
        <input type="date" class="form-control" id="date_picker" name="bdate" />
        <script language="javascript">
          var today = new Date();
          var dd = String(today.getDate() +1).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0');
          var yyyy = today.getFullYear();
          today = yyyy + '-' + mm + '-' + dd;
          $('#date_picker').attr('min',today);
      </script>
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-primary">Search Buses</button>
      </div>
    </div>
  </form>
</div>
</center>
<br>
<br>

{% if info|length == 0 %}
                   
<div><img src="{{url_for('static',filename='logo.jpg')}}" class="img-thumbnail mx-auto d-block" alt="bus"></div>
    {% else %} 
    
<table class="table table-striped container">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Fare</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for info in info %}
    <tr>
      <td name="company">{{info[1]}}</td>
      <td name="source">{{info[2]}}</td>
      <td name="destination">{{info[3]}}</td>
      <td name="rate">{{info[4]}}</td>
      <td name="time">{{info[5]}}</td>
      <td>
        <form method="post" action="/passengerInfo"><button type="input" value={{info[0]}} name="a"
            class="btn btn-primary">Book</button></form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}
{%endblock content%}